[2019-07-12 03:17] oskarth opened #1 "Open source this library"
I don't see why this should be a private repo, even if it is a work in progress. It doesn't appear to be a security risk to me.

@adambabik

[2019-07-15 09:57] cammellos opened #2 "Integrate status-protocol-go with status-react"
As a developer
I would like to have `status-protocol-go` to be integrated with `status-react`
So that any change to the `StatusProtocol` is isolated and other clients can re-use this library

### Description

This library should be integrated with status-react via status-go.

For it to be working without any change in status-react:

- Disabling storing of messages (optional, we don't want to dupli

[2019-07-15 10:09] cammellos opened #3 "Move chats in status-protocol-go"
As a developer
I would like to have chats stored in status-protocol-go
So that clients don't have to implement their own persistence of chats

### Description

Public/one-to-one/group chats should be stored in status-go.

The minimum outcome is that simply the data layer is replaced with the one provided in this task.
That includes migrating group chats data such as `membership-updates`.

Any fiel

[2019-07-15 10:25] cammellos opened #4 "Move deserialization of transit to status-protocol-go"
As a developer
I would like to have all transit deserialization done in status-protocol-go
So that clients don't have to implement it and can benefits from the performance

### Description

This task involves moving all the deserialization of messages from `status-react` to this library.
All the messages https://github.com/status-im/status-react/tree/develop/src/status_im/transport/message should

[2019-07-15 10:40] cammellos opened #5 "Move messages in status-protocol-go"
As a developer
I want to have messages stored in status-go-protocol
So I don't have to re-implement it myself

### Description

This task involves replacing the persistence layer from status-react to this library.

It needs to fullfil the current API that `realm` offers https://github.com/status-im/status-react/blob/develop/src/status_im/data_store/messages.cljs , or equivalent.

It does not invol

[2019-07-15 11:00] cammellos opened #7 "Integrate data-sync layer"
As a user
I want my messages to be more reliable
So that I have more confidence in the app

### Description

This tasks involves integrating https://github.com/status-im/mvds in the actual codebase, according to https://github.com/status-im/bigbrother-specs/blob/master/data_sync/mvds.md#secure-transport.

It should work for one-to-one and private group chats. Pubic chats are out of scope, although

[2019-07-15 11:00] cammellos opened #8 "V1 scope"
This issues is an epic for  v1 scope, leaving old comment for posterity, but to have an up-to-date view please see: https://github.com/orgs/status-im/projects/54 , as that's the only place where we will keep things up to date.

### Outdated

- [x] Integrate status-protocol-go with status-react: #2 5d
- [x] Move chats to status-protocol-go #3 3d
- [x] Move messages to status-go #5 5d
- [x] Move con

[2019-07-15 13:32] cammellos opened #9 "Increase multidevice response when adding new devices"
### Steps to replicate

1) Create 1 device A1
2) Create 3 devices A2, A3, A4
3) Create another device B1
4) Send a message from B1 to A
5) A2, A3, A4 should receive the message, A1 should not receive the message
6) Send a message from A1 to B
7) B should receive the message
8) Send a message from B1 to A

Expected:
A1 is included
Actual:
A1 is not included

### Description

Currently we use timest

[2019-07-15 14:57] cammellos opened #10 "Move contacts in status-protocol-go"
As a developer
I want to have contacts stored in status-go-protocol
So I don't have to re-implement it myself

### Description
This task involves replacing the persistence layer from status-react to this library.

It needs to fullfil the current API that realm offers https://github.com/status-im/status-react/blob/develop/src/status_im/data_store/contacts.cljs , or equivalent.

It does not involve

[2019-07-15 15:04] cammellos opened #11 "Move accounts to status-go-protocol"
As a developer
I want to have accounts stored in status-go-protocol
So I don't have to re-implement it myself

### Description
This task involves replacing the persistence layer from status-react to this library.

It needs to fullfil the current API that realm offers https://github.com/status-im/status-react/blob/develop/src/status_im/data_store/contacts.cljs , or equivalent.

It does not involve

[2019-07-15 19:11] cammellos opened #12 "Don't listen or publish on the old discovery topic"
As a user
I don't want to listen to the discovery topic
So I don't waste too much bandwidth

### Description

For v1 the old discovery topic will not be used anymore, we should keep this behavior for now as we want to still be compatible with pre-v1, but have a toggle (config/flag anything) that disables listening/publishing to this topic. If a client has version 0 of the protocol, we publish inst

[2019-07-15 22:09] decanus opened #13 "MVDS Sync State SQLLite"
See: https://github.com/status-im/status-console-client/issues/119

[2019-07-15 22:12] decanus opened #14 "MVDS Epoch persistence"
https://github.com/status-im/status-console-client/issues/120

[2019-07-16 03:48] oskarth commented on #1
Done

[2019-07-16 03:48] #1 closed

[2019-07-16 06:31] cammellos opened #15 "Add filesystem persistence to MVDS"
As a user
I want to have mvds persistence on the filesystem
so that I can improve the reliability of sending messaging even across restarts

### Description

Currently MVDS is using an in-memory storage, which gets erased across restarts.
We should be storing this information in the database.
Messages should be encrypted with the user password, similarly to the rest of the data persisted (sqlciphe

[2019-07-16 06:33] cammellos commented on #14
Closing in favor of #15

[2019-07-16 06:33] #14 closed

[2019-07-16 06:33] cammellos commented on #13
Closing in favor of #15

[2019-07-16 06:33] #13 closed

[2019-07-16 09:20] oskarth commented on #8
@cammellos this is great. Would you mind adding a super rough effort estimate for the 10 tasks? One some granularity of days, so something like:

#4 2d
#10 4d
#12 1d

I understand it's hard to know, but it helps give a better overview in Wrike at least for people less familiar with the work. We can adjust as we go too

[2019-07-16 09:22] StatusWrike commented on #7
➤ Oskar Thoren commented:

test comment see if wrike syncs

[2019-07-16 09:22] StatusWrike commented on #7
➤ Oskar Thoren commented:

Should be synced with https://github.com/status-im/status-protocol-go/issues/7

[2019-07-16 09:26] oskarth commented on #2
@adambabik is there a corresponding issue on status-react for this? What's the rough ETA/effort on this one?

[2019-07-16 09:29] oskarth commented on #8
Cheers

[2019-07-16 09:32] cammellos commented on #8
Added estimation, I am not counting in QA time for now as that's a bit unpredictable, so that's just development time, and it's skewed towards unknowns , so the least we understand something and how to do it the longer the estimation, also this is just to get a feel on what's the effort rather than being strict deadlines

[2019-07-16 10:06] cammellos commented on #4
Closing this as not relevant anymore, we will create the various deserialized version only just in time as we move down the logic, sorry for the confusion.

[2019-07-16 10:06] #4 closed

[2019-07-16 10:16] cammellos opened #17 "Replace transit with protobuf"
As a developer
I would like to use protobuf instead of transit
As there's more support across programming languages

### Description

This tasks involves replacing the current transit messages, with a protobuf equivalent https://github.com/status-im/status-react/tree/develop/src/status_im/transport/message .

We should still strive to keep compatibility until the last version pre-1 is released, af

[2019-07-16 11:11] adambabik opened #21 "Replace log from stdlib with structured logging"
As a developer
I want to have fine-grained control over logging
so that I can decide which logs are collected and have better means to analyze them later.

### Description

Currently, all logging is done with `log` package from stdlib. Instead, we should have a performant structured logging package in order to have fine-grained control over the logs.

status-go uses logger from go-etheruem but it'

[2019-07-17 07:07] dshulyak commented on #11
@cammellos I was going to work on this, but in status-go.

so what can be an argument for not keeping them in status-go? as i understand this code is used during login and node startup, to fetch user configuration, and it also requires native bindings, cause node is not  yet started when list of accounts need to be made available

[2019-07-17 07:26] cammellos commented on #11
I guess the argument would be that if it s code used by any client, then it would be probably more useful to keep it here, as new clients are not expected to use status-go directly (such as the console client, which will have to re implement the account management logic)

Having said that, given that this has not been integrated yet, the fact that I don't have a strong opinion, I would lean toward

[2019-07-17 11:39] adambabik opened #24 "Provide a way to retrieve messages from all active filters"
As a user of the library
I want to be able to retrieve all messages from all active filters
so that I can see messages from chats I haven't created yet.

### Description

Currently, `Messenger` provides `Retrieve()` method but it requires passing a `Chat` instance.

As we know that on the same Whisper topic there might be many chats, also ones which have been started by another user, we want a way

[2019-07-17 14:50] #12 closed

[2019-07-17 15:24] cammellos commented on #24
`RetrieveAll()` should also return the `chatID` of the chat we used to install the filter, that's necessary for public chats to work (currently that's what we use to know a public message is for a given chat).

[2019-07-18 10:02] adambabik commented on #24
I see two options here:
- Rely on the filed in `protocol.Message.Content.ChatID` but it needs to be validated in the lib, i.e. checked if the filter's `chatID` used to retrieve the message equals `protocol.Message.Content.ChatID`. If not, we should discard such a message.
- Add `protocol.Message.ChatID` (along the current fields like `ID`, `SigPubKey`) which would always contain a `chatID` used to

[2019-07-18 10:09] adambabik commented on #24
Also, please read the description:

And acceptance criteria:

To create another set of methods to support status-go, there will be a different ticket, if needed, or it will be a part of https://github.com/status-im/status-protocol-go/pull/27 PR.

Sorry for the confusion, I created this ticket to rather be like a warm-up one :) Not necessarily digging into the nitty-gritty of status-go integration.

[2019-07-18 10:14] cammellos commented on #24
Currently not all messages have a chatID, although it s really only relevant to text
messages. So this might be non encompassing solution.

I would do this, and as well add a flag `Public` `Private` to know whether is coming from a private or public topic, although this decision can be always computed by checking back against the loaded chats, but might simplify the checking

[2019-07-18 13:41] #21 closed

[2019-07-18 17:02] adambabik commented on #24
@PombeirP and I had a call about this `ChatID` thingy. This is a summary of what we discussed.

We can think about `ChatID` as a session-long identifier of each chat. A session lasts as long as the Whisper filters exist which in our case translates to as long as the Status app stays in the memory.

We can assume that `ChatID` is something created by the protocol lib to uniquely identify joined cha

[2019-07-18 17:22] cammellos commented on #24
sure, however we want to rationalize it.

We should mind though that what should drive our decisions is the only fully fledged client we have, namely `status-react`, and the reasoning should start from there, otherwise we end up as we did before going on a tangent and writing code that does not support our only production ready client.

For example:

That's not how are current client works, you do

[2019-07-19 07:22] adambabik commented on #24
Right but you need to create a filter first and from that filter, there might be many chats originating. My description is definitely incomplete because I tried to only depend on `ChatID` term which is not enough.

Generally, I think we need to rationalize some aspects now because otherwise it still gonna be confusing as hell just in Go not in Clojure :) But of course to some extent, as you said,

[2019-07-19 07:44] PombeirP commented on #24
While I think that we definitely need to spend some time thinking about how we want the chat ID to work (ownership, lifetime, etc.), I think it's best done in a separate PR, as that would represent enough complexity by itself. Yesterday after discussing with Adam I implemented something very similar to what was suggested in the latest comments (minus Chat interface changes), and I'd appreciate you

[2019-07-19 08:04] cammellos commented on #24
I agree, maybe let's park the conversation for now, unless really necessary to move forward.

Next week we can go through the mechanics of the various types of chats and figure out a reasonable abstraction/rationale so we are all on the same page.

what do you think?

[2019-07-19 10:15] PombeirP commented on #24
I think we can move forward with this PR without those changes, even though perhaps the data structures won't be as tight as they could be. Sounds good.

[2019-07-21 19:11] adambabik commented on #2
@oskarth it is now as I finished work in status-go and status-protocol-go repos. Please check out https://github.com/status-im/status-react/issues/8604.

[2019-07-21 19:30] adambabik opened #28 "Document and design interface to manage chats"
As a developer
I would like to have a clear understanding of all types of chats, what input is required to match a particular chat to a Whisper filter and ownership of `chatID`
so that I can implement methods sending and receiving messages reliably as well as manage filters and others.

### Problem

As discussed in https://github.com/status-im/status-protocol-go/issues/24, we are far from being cl

[2019-07-21 19:30] adambabik commented on #24
I created https://github.com/status-im/status-protocol-go/issues/28 for further discussion on this topic.

[2019-07-23 07:04] adambabik opened #30 "Improve test coverage"
As a developer
I would like to have a good test coverage
so that I have confidence that my changes do not break anything.

### Description

[code]

### Acceptance criteria

* All public methods of the module are tested.

[2019-07-23 08:33] #2 closed

[2019-07-23 09:09] cammellos commented on #30
I would probably remove the `v1` label, as not strictly necessary, what do you think? (that's not to say that we should not focus on that, but just for clarity.)

[2019-07-23 10:49] StatusWrike commented on #11
➤ Wrike Bot commented:

Dmitry Shulyak All the necessary task dependencies have been completed, so you can start working on it right away.

[2019-07-23 10:49] StatusWrike commented on #10
➤ Wrike Bot commented:

Adam BabikAndrea Piana All the necessary task dependencies have been completed, so you can start working on it right away.

[2019-07-23 10:49] StatusWrike commented on #7
➤ Wrike Bot commented:

Andrea Piana All the necessary task dependencies have been completed, so you can start working on it right away.

[2019-07-23 10:49] StatusWrike commented on #5
➤ Wrike Bot commented:

Adam BabikAndrea Piana All the necessary task dependencies have been completed, so you can start working on it right away.

[2019-07-23 10:49] StatusWrike commented on #3
➤ Wrike Bot commented:

Andrea Piana All the necessary task dependencies have been completed, so you can start working on it right away.

[2019-07-24 13:31] cammellos opened #35 "Consolidate all databases in a single one"
As a user
I would like to have all the data consolidated in a single db
So that performance are improved on starting up the library

### Description

Currently is quite expensive to open an sqlcipher database, especially on slower devices.
Although architecturally we'd rather keep them separate, the performance toll is probably to much to justify the decision, so we should consolidate everything i

[2019-07-24 13:31] cammellos commented on #35
@adambabik could you have a glance at the issue and give me a thumbs up or otherwise comment if there's anything that's missing we should change? thanks!

[2019-07-24 17:56] cammellos commented on #9
Merged in status-react with https://github.com/status-im/status-react/pull/8615

[2019-07-24 17:56] #9 closed

[2019-07-24 20:07] cammellos commented on #35
@adambabik sounds good, yes, if it can be passed by `status-go` it would be better so we can share a single database and we don't have to run two kdfs, feel free to work on this if you'd like sure, thanks!

[2019-07-26 06:19] #24 closed

[2019-07-27 12:27] #35 closed

[2019-07-28 19:07] adambabik commented on #5
@cammellos is it enough to store transit-encoded messages?

I identified the following interface:
[code]

`Message` is the stored record. Am I missing any other fields?
[code]

[2019-07-28 19:35] cammellos commented on #5
The fields we currently use are:

[code]

Some of these are likely not needed anymore, but I would start with like for like and err on the side of caution for now. Then we can remove them once we validate everything else works.

In terms of methods looks good, the only ones I don't see is:

`ByChatID(chat-id string, cursor string) ([]Messages, cursor string/[]byte, hasMore bool)`
`ByOldID(id strin

[2019-07-29 14:44] cammellos commented on #11
Closing as it's not going to be implemented here.

[2019-07-29 14:44] #11 closed

[2019-07-29 21:04] StatusWrike commented on #3
➤ Nabil Naghdy commented:

Is this still launch blocking?

[2019-07-30 04:13] cammellos commented on #3
It's still in V1 scope, but it's not blocked anymore, it's ready to pick up, currently devs are on other v1 tasks though, but likely to be picked up next.

[2019-07-30 06:57] cammellos opened #40 "Add confirmations to datasync"
As a user
I want to see if my messages marked as dispatched when I use datasync
so that I can have more confidence that my messages will be relayed correctly

### Description

Messages sent by the datasync layer are always shown as pending when sent in status-react.
This is due to the fact that datasync sent messages don't return a whisper hash to status-react as the message is sent asynchronously

[2019-07-30 06:59] cammellos commented on #7
Currently datasync layer is between the application and encryption layer, so sending a message over a public channel with datasync is non breaking.

[2019-08-01 04:46] adambabik opened #43 "Upgrade Whisper when the fixed PoW is merged into our fork"
Depends on https://github.com/status-im/whisper/issues/30.

[2019-08-01 15:20] #7 closed

[2019-08-02 05:09] cammellos opened #44 "Versioning of data"
### Problem

Currently we don't provide any way to make safe updates to the mutable data contained in the database, and last one wins. For example for Chats, if SaveChats is called in quick succession through rpc, there's a race condition where the last write will win (which might not be the last one fired).
That might be an issue with highly mutable data (chats, for example updated each time we r

[2019-08-02 05:10] cammellos commented on #44
@adambabik @PombeirP let me know what you think

[2019-08-02 06:07] adambabik commented on #44
We can implement something like `_version` here but in my opinion it's not status-protocol-go concern but a consumer of the lib. status-protocol-go is not a database engine to implement such details. The consumer can make sure on its end to only send a next request if the previous one is finished for a given resource. It can also do some merging and use a small delay to detect a record is stable a

[2019-08-02 06:50] cammellos commented on #44
I see what you mean and I think it's a valid point. (although you don't have to be a database engine to implement versioning though, countless of apis have versioning, which status-protocol-go is).
Myself I feel is acceptable to have versioning as simplifying client logic is something a good api should strive for (this comes at no complexity cost for the client).

From a pragmatic point of view, t

[2019-08-05 08:17] PombeirP commented on #44
It sounds like this logic could be extracted to a separate higher-level API that would simplify API usage, while still maintaining the low-level API implementation as lean as possible, is that correct?

[2019-08-05 10:16] cammellos commented on #44
Yes, that can be done, basically what we would be implementing is concurrency control, you can have this in a separate layer (i.e `status-go` for example), by using `Etag`s or similar.

Is not as bullet-proof though, as here we have two input sources: User input & Network input, both of which modify the same data, and the only common code is `status-protocol-go`, as network input does not necessar

[2019-08-05 11:08] adambabik commented on #44
What are or are going to be the use cases when data is changed by network and user input? I though that it can be only that the initial data comes from the network through status-protocol-go (so it is stored on a disk before going to the layers up), then it's passed to the status-react and eventually can be modified by status-react multiple times, however, the network input won't change the existi

[2019-08-05 11:36] cammellos commented on #44
So, there are few different cases, it's difficult to list them all but just of the top of my mind:

- Contact: contacts are modified by a user (setting tags for example, your own name/photo/profile) and modified by receiving a receiving a `SyncInstallationMessage` (Pairing) or a `ContactUpdate` , both of which set tags,
- Chats: chats are modified by the user (soft delete, membership updates, name

[2019-08-05 14:11] cammellos commented on #3
merged in status-react

[2019-08-05 14:11] #3 closed

[2019-08-06 09:20] decanus opened #47 "Update MVDS usage"
Update the MVDS usage to use the new subscription feature as discussed with @cammellos

[2019-08-07 19:19] #10 closed

[2019-08-13 04:36] #40 closed

[2019-08-13 11:08] adambabik commented on #5
@cammellos do we wait for anything more to happen here?

[2019-08-13 11:28] cammellos commented on #5
@adambabik I will keep it open for now, as it will possibly requires a few changes in order to integrate messages, and I'd rather track it here then in status-react, but don't worries I will take care of it

[2019-08-20 11:27] #5 closed

[2019-08-20 18:42] adambabik opened #53 "Add Init() method to Messenger"
As a developer,
I would like to have `Messenger.Init()` method available
so that I can initialize various objects and Whisper filters.

### Problem

Currently, to load filters, a caller needs to execute `Messenger.LoadFilters()`. This is not needed anymore because both contacts and chats are moved to status-protocol-go.

Instead, there should be a `Messenger.Init()` which will load chats and conta

[2019-08-21 05:28] cammellos commented on #53
It looks mostly good to me, not sure we will be able to get rid of `LoadFilters` `RemoveFilters` as that entails more work (they are to be called each time a new member is added to a group chat/a new chat is opened/ a contact is added), so  I would start by just providing `Init`, get it working/integrate and take it from there, as we would still need to replace `LoadFilters` with something equival

[2019-08-21 06:14] adambabik commented on #53
@cammellos I don't quite understand how contacts result in filters. We have three types of contacts: added by us, which added us, blocked. Questions:
1. All contacts added by us should be already covered by existing AND active chats.
2. Contacts which added us might not be covered by existing chats so these filters should be created based on a public key from `Contact.Address`.
3. Contacts blocked

[2019-08-21 06:31] cammellos commented on #53
Not sure exactly what the questions are :) but all 3 statements are correct:

Correct

Correct, not the address, but the public key, but yes

This is also correct, but not strictly necessary (we don't clear the filters now), but we'd need to have access to `SystemTags` which we don't, but that's not a big deal for now.

The flow I am sort of worried about is:

1) We receive a contact request
2) Is

[2019-08-21 06:42] adambabik commented on #53
Ok, so I skip removing filters for now. When provided with `SystemTags` (which are in `Contact` struct, I just have no idea of possible values) we can implement removing filters.

You mean "appalling"? :) We want to go with (4b) as it is the closest to the final flow you described and get rid of managing filters by status-react, right?

[2019-08-21 07:08] cammellos commented on #53
Not sure I would go for 4b, as it won't simplify much code in status-react, and we would have to write quite a bit of code in status-protocol-go that we would change again once we do things properly, so I would skip 4b, leave things as they are (status-react calls Init on startup, but then loadfilters on saving contacts/chats/group-chats), and eventually go directly to the proper implementation, l

[2019-08-26 05:57] adambabik commented on #53
Closes #55

[2019-08-26 05:57] #53 closed

[2019-08-27 08:58] rachelhamlin commented on #15
@adambabik @cammellos this is currently scoped under the code freeze milestone—does it still need to be completed by the 30th? Is it actually finished?

[2019-08-27 09:02] cammellos commented on #15
this has now been merged in status-react and it can be closed

[2019-08-27 09:02] #15 closed

[2019-08-28 17:24] adambabik opened #60 "Feedback using the messenger"
When writing a bridge between Status and other platform, the following feedback was given:
1. All the hustle with the node is confusing. A proper messenger or client should handle that.
1. Passing Whisper service is confusing as well. It should be customizable but also a default service should be used if not specified.
1. Consider `installationID` to be optional or provide a function to generate i

[2019-08-28 17:29] adambabik commented on #60
(1) and (2) We can create a package called `client` which actually can be a separate module. It can provide `Client` which would abstract creating a node and Whisper service.

(3) We can rename it to `deviceID` or we can provide a function which would generate a predictable ID based on the input.

[2019-08-28 17:32] adambabik opened #61 "Add integration tests for data sync enabled"
As a developer,
I would like to have integration tests that send and retrieve messages with data sync enabled
in order to gain confidence that my changes do not break anything.

[2019-08-28 20:55] adambabik opened #62 "Link Messages to Chats"
As a developer,
I would like to have incoming messages linked to an instance of `Chat`
so that I can match incoming messages to chats and vice versa.

### Problem

`v1.Message` has a property `ChatID`. `Messenger` exposes methods to manage `Chat`s. The problem is that there is no direct connection between one and another.

`ChatID` from `v1.Message` is a `ChatID` from the sender perspective so it

[2019-08-29 05:10] cammellos commented on #62
Not sure I fully understand, but currently there are already rules to match a message against a chat, these are tight to the channel we receive the message on, mainly for security reasons:

### The message is coming from a filter installed by a public chat
  * the chatID is the id of the chat that installed the filter. A chat should not be created automatically.

### The message is coming through

[2019-08-29 05:28] adambabik commented on #62
@cammellos this issue is about collecting these rules and implement them in status-protocol-go as well as describe in the specs repo. I know we have them because chats work but it's hidden knowledge in status-react.

That's exactly what I needed :) In the console-client, I implemented recently (still in progress) matching of messages of type `:user-message`. I will continue with `:group-user-messa

[2019-08-29 06:02] cammellos commented on #62
Yes, I agree.

I don't think is documented anywhere, good point

[2019-08-29 10:00] oskarth commented on #62
Agree on documenting these hidden behaviours. Do either of you want to issue a PR to the specs repo?

[2019-08-29 14:44] jakubgs commented on #60
Also, you said that `options` are optional in `NewMessager` but they aren't:
https://github.com/status-im/status-protocol-go/blob/7d230faaa7e20f0e30379ebc5ff66f005a054295/messenger.go#L232-L234
It fails if I don't specify `WithDatabaseConfig` in `options`.

[2019-08-29 17:16] jakubgs opened #65 "SQL DB migrations fail"
When I try to create a new `Messenger` I get this:

[code]

I used an in-memory SQLite database:

[code]

So it's always a fully clean database, but it fails when trying to delete `mvds_schema_migrations` table which doesn't exist.

Also, is this database even necessary? If I just want to send a single message using the library why should I have to create an SQL database to do that?

[2019-08-30 15:38] jakubgs commented on #65
Looks like this was fixed here: https://github.com/status-im/migrate/commit/a9d340ec8fb76af4afda06acf01740d45d2661ed

[2019-08-30 15:38] #65 closed

[2019-08-31 14:56] #61 closed

[2019-09-16 12:07] jakubgs opened #71 "Porting username generationg code"
Turns out we haven't ported the code that generates the 3 word usernames from JavaScript yet.
This code lives here: https://github.com/status-im/status-js-api/blob/master/src/utils.ts
And uses this JS package for its deterministic randomness: https://github.com/chancejs/chancejs

This package implements it's own version of Mersenne Twister algorithm for generating 32bit `int`s:
https://github.com/

[2019-09-16 12:24] jakubgs commented on #71
This is the C implementation of Mersenne Twister which the Chance library uses:
https://github.com/ESultanik/mtwister
So in theory we could try using that to get the same results in Go.

[2019-09-16 14:19] jakubgs commented on #71
I tried comparing different implementations of Mersenne Twister from different languages with the same seed(`123`) to see if I can get the same thing, and I was unable to:

| Library                                                            | Language | Method           | Result              |
|--------------------------------------------------------------------|----------|------------------|----

[2019-09-16 14:29] jakubgs commented on #71
Igor did make an implementation already for a bot in Go(which I was told about by Andrea) right here:
https://github.com/status-im/status-go-bots/blob/ethdenver-bot/vendor/github.com/status-im/status-go/sdk/three_word_name.go
I'm gonna try adding this to the repo in a PR.

[2019-09-16 15:07] cammellos commented on #71
I am thinking about dropping Mersenne Twister in favor of something much simpler, fibonacci lfsr https://en.wikipedia.org/wiki/Linear-feedback_shift_register , we don't need anything sophisticated for this I believe, and it should be trivial to port in other languages.

here's for the initial implementation https://github.com/status-im/status-protocol-go/compare/feature/gfycat?expand=1

[2019-09-17 07:49] jakubgs commented on #71
I agree, as I said in OP, it's a good idea to take this opportunity and to switch to something simpler.
I was talking about this with @oskarth and @jarradh yesterday and they had some mild complaints, but if we double team them it should be fine. Wish you were here with us.

[2019-09-17 19:58] adambabik commented on #71
What are these mild complaints? I would totally go for a simpler version. What @cammellos proposed seems pretty neat.

[2019-09-17 20:55] adambabik commented on #62
@oskarth The only thing that's left is private groups. Other type of chats are covered in  https://github.com/status-im/status-protocol-go/pull/66.

[2019-09-17 20:58] adambabik commented on #62
@cammellos Can you point me to the code that creates a private group chat ID?

[2019-09-17 21:35] adambabik commented on #8
Can we close this or there is anything else required for V1?

[2019-09-17 21:58] adambabik opened #73 "Port group messages logic"
As a developer, I would like to be able to send group messages using the status-protocol-go so that I can communicate with other clients.

The current implementation is in [status-react](https://github.com/status-im/status-react/blob/e87d75039ead5a1baf77daeb657be489d442644a/src/status_im/group_chats/core.cljs).

#### Acceptance criteria

- in `v1/` add `CreatePrivateGroupTextMessage` function
- ex

[2019-09-18 07:19] jakubgs commented on #71
Well, we can ask them directly:

@oskarth & @jarradh, do you have any specific objections to using V1 as an opportunity to get rid of the weird JS library for 3 word username generation and going with Fibonacci LFSR (for example)?

[2019-09-18 08:26] oskarth commented on #71
No specific objections! As long as we can implement the same algo in different code bases. All for simplifying while we have a clean break

[2019-09-18 08:27] oskarth commented on #71
One proposal sounded like same seed would generate different names in JS and Go land, which would be bad. That's all.

[2019-09-18 09:08] cammellos commented on #8
Closing as this is all done

[2019-09-18 09:08] #8 closed

[2019-09-21 19:19] adambabik commented on #73
Payload example: https://gist.github.com/cammellos/8621121434b2a470ff0fe1f3443929b2

[2019-09-24 07:52] jakubgs commented on #71
This is being handled by https://github.com/status-im/status-protocol-go/pull/74 which awaits testing with `status-react` in https://github.com/status-im/status-react/pull/9006.

[2019-09-24 12:11] jakubgs opened #79 "Join does not call SaveChat"
While trying to implement MatterBridge with a newer version of this library I encountered the error:
[code]
Which comes from:
https://github.com/status-im/status-protocol-go/blob/4492eb97793f7edabe9d0072b6c85cdde08fee49/messenger.go#L814
Which fails because chat is not in known chats:
https://github.com/status-im/status-protocol-go/blob/4492eb97793f7edabe9d0072b6c85cdde08fee49/messenger.go#L787-L7

[2019-09-24 12:49] jakubgs commented on #79
Looks like the issue was due to me not setting the `ID` field of the `Chat` struct:
https://github.com/status-im/status-protocol-go/blob/4492eb97793f7edabe9d0072b6c85cdde08fee49/chat.go#L23-L28
Looks like the best way to make a `Chat` object is to use the helper method:
https://github.com/status-im/status-protocol-go/blob/4492eb97793f7edabe9d0072b6c85cdde08fee49/chat.go#L111-L118

[2019-09-26 08:16] jakubgs commented on #71
Closing since https://github.com/status-im/status-protocol-go/pull/74 was merged.

[2019-09-26 08:16] #71 closed

[2019-09-30 14:43] PombeirP opened #82 "Add support for async verification of ENS user names"
This is the protocol side of https://github.com/status-im/status-go/issues/1520.

@cammellos suggested that we need to implement the ENS verification process asynchronously so that we don't delay message retrieval. That is the ideal solution but I'm unsure of the impact that'll have on the UI layer in status-react (cc @yenda @flexsurfer)

For an async workflow, the following needs to happen:
1. `m

[2019-10-01 08:43] PombeirP opened #84 "Prepare API for alternative ETH node implementations"
Currently, there are areas in the code that leak Geth types, making it impossible to have status-protocol-go work with e.g. Nimbus.

### Issues

- [x] `NewMessenger` is receiving a Geth type `*whisper.Whisper`;
- [x] `whisper.BytesToTopic` needs to be encapsulated;
- [x] `WhisperServiceTransport.RetrieveAllMessages` is returning a Geth type (`*whisper.ReceivedMessage`), tying the consuming class `

[2019-10-02 13:26] PombeirP commented on #84
@cammellos/@adambabik status-console-client seems quite out of date (`master` is 2 months old). There is an `upgrade-status-protocol-go` but that one also points to a non-existing status-protocol-go commit.

[2019-10-02 15:26] PombeirP commented on #84
Oh, I thought NewMessenger was called from status-console-client, but it's actually being done from status-go :-/

[code]

[2019-10-02 16:35] adambabik commented on #84
Yeah, `NewMessenger` is called from anything that wants to use status-protocol-go. Generally, any public interface changes in the main package of status-protocol-go can potentially break something at this point.

[2019-10-02 16:52] adambabik commented on #43
Fixed in https://github.com/status-im/status-protocol-go/pull/85

[2019-10-02 16:52] #43 closed

[2019-10-09 05:27] dependabot-preview[bot] opened #90 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

[2019-10-09 12:20] #84 closed

[2019-10-10 16:17] dependabot-preview[bot] opened #93 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

[2019-10-14 11:09] #90 closed

[2019-10-14 11:09] #93 closed

[2019-10-16 08:10] adambabik opened #98 "Port mailserver requests logic from status-react"
As a developer,
I would like to receive historic messages using the same algorithm as in status-react
so that I can have better means to analyse it and measure throughput and bandwidth.

#### Acceptance criteria

TBD after examining status-react logic.

[2019-10-16 08:17] adambabik opened #99 "Smart mailserver selection based on round trip time"
As a user,
I would like to have a mailserver selected automatically from a list of available mailservers based on the round trip time,
so that I use the closes one always.

### Acceptance criteria

* Based on a list of mailservers, the algorithm should select the closest mailserver based on round trip time
* It should fallback to the next mailserver if the previously selected was disconnected
* Ve

[2019-10-17 10:30] rachelhamlin commented on #82
Is it possible for me to get edit rights to this repo? I'd like to add this project to the core project board :) cc @adambabik @cammellos

[2019-10-17 10:39] cammellos commented on #82
I don't have access myself, probably @adambabik can help

[2019-10-18 17:55] adambabik commented on #98
status-react logic is implemented here https://github.com/status-im/status-react/blob/develop/src/status_im/mailserver/core.cljs.

[2019-10-20 13:53] adambabik commented on #62
This is done https://github.com/status-im/status-protocol-go/blob/v0.4.2/messenger.go#L1000-L1054.

[2019-10-20 13:53] #62 closed

[2019-10-20 15:06] adambabik commented on #99
RTT calculation strategy can be split into two:
1. Initial probing,
2. Continuous calculation from a TCP flow.

We definitely need to implement (1) in order to select the closest mailserver when the app is started. (2) might be interesting in case of a long term session like on a desktop but I would say it's optional for the time being.

(1) can be done using active probing in the form of ICMP pin

[2019-10-21 11:31] StatusSceptre commented on #82
Thanks @adambabik would you mind adding StatusSceptre as well? I've locked myself out of my own Github account. 🙄

[2019-10-28 06:51] adambabik commented on #47
@decanus I need to better understand how it would work.

Currently, we have two flows: (1) incoming messages and (2) outgoing messages.

In the case of (1), we just unmarshal protobuf payload to mvds `Payload` struct. In the case of (2), we call `Node.AppendMessage()` first and later mvds' `Node` calls `Node.Transport.Send()`.

How does `Subscribe()` fit into this picture?

[2019-10-28 08:28] decanus commented on #47
@adambabik, this function returns a channel for receiving messages. Right now we unmarshall the payload in the transport, then pick out all the messages before MVDS receives it. This function simply pushes all the messages to the subscriber after MVDS has received them.

[2019-10-28 09:20] adambabik commented on #47
@decanus and how MVDS should receive that message? The problem I see is that the current flow is synchronous. We receive a message from Whisper, we push it through all layers (transport, encryption, data sync, application), done. The trigger is the consumer calling `Retrieve*` method on `Messenger`.

If we want to use the subscription, I believe that the message would still be received from Whispe

[2019-10-28 11:06] decanus commented on #47
@adambabik, yeah it would flow through everything. Like it does before but we don’t get the message in a hacky way anymore by taking it out before we pass it on. We can discuss changing it to a stream api later too.

[2019-10-28 11:45] adambabik commented on #47
@decanus ok, so I believe we are talking about this fragment:
[code]

where we pluck messages from the payload before it is passed to the mvds.

With `Subscribe`, it would look like this:
[code]

As you can see it is neither pretty nor it can work in the current flow. I agree that mvds should return messages but in the current approach we need a different interface that could work like this:
[code

[2019-10-28 11:47] decanus commented on #47
@adambabik I don't think it would be in the handle message, as that gets called everytime a packet is received. The call to the subscription should happen elsewhere in some go routine.

[2019-11-05 14:48] kdeme opened #112 "Why is it necessary to work with deterministic IDs for Whisper key generation?"
The default Whisper API in geth and also the Whisper V6 JSON RPC interface works with the generation of random identifiers to track stored asymmetric and symmetric keys (aswell as subscribed filters).

In the Status Whisper fork this is (sometimes) changed to generate a deterministic ID. E.g.: https://github.com/status-im/status-protocol-go/blob/65edcb1e3c82ad565c62428aca2843c36b194681/vendor/gith

[2019-11-05 14:51] kdeme commented on #112
By the way, I ask this in the context of the Status - Nimbus integration. As it is one of the items I noticed as being different, and thus a change I need to add.

This adds to the point once made where re-implementing everything from the bottom up will just once again make you inherit any legacy.

[2019-11-05 18:34] dependabot-preview[bot] opened #115 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[2019-11-06 07:19] #115 closed

[2019-11-06 07:19] dependabot-preview[bot] opened #117 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[2019-11-08 07:21] adambabik opened #120 "Verify protocol message decoders with go-fuzz"
This library parses transit-encoded messages into structs. It does that using https://github.com/russolsen/transit library which is not very popular and is marked as "in-progress". Currently, it is unknown how the transit library and our decoders behave with odd randomly generated data, hence, we don't know how easy it is to crash the program using status-protocol-go.

Fuzzing is a test technique

[2019-11-11 05:07] dependabot-preview[bot] opened #121 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[2019-11-15 08:14] #121 closed

[2019-11-15 08:14] #117 closed

[2019-11-15 08:15] dependabot-preview[bot] opened #124 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[2019-11-16 08:24] adambabik commented on #112
@kdeme I actually don't know the answer for this question from the author of the code so I can only share my assumption which are close to what you described.

I think that deterministic IDs for private keys was added purely to avoid storing the same private key multiple times which reduced the memory footprint. I consider this part to be a legacy and a hack.

However, I also don't quite understan

[2019-11-18 05:14] #124 closed

[2019-11-18 05:16] dependabot-preview[bot] opened #125 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[2019-11-18 12:39] #125 closed

[2019-11-18 12:40] dependabot-preview[bot] opened #129 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.